@{     
    List<Slider> lista = ViewBag.Foto;
    var z = lista.ElementAt(0);
    var h = lista.ElementAt(0).Foto;   
}

<form method="post" enctype="multipart/form-data" class="container">
    <h2 class="text-center text-orange mt-3 mb-5">ADMINISTRADOR DE SLIDER PRINCIPAL</h2>
    @* 1 *@
    <div class="text-center">
      <div class="row mt-1 ml-2 justify-content-center">
        <div class="w-50 h-50">
            @{
                var base1 = Convert.ToBase64String(lista.ElementAt(0).Foto);
                var imgSrc1 = string.Format("data:image/gif;base64,{0}", base1);
            }
            <img src="@imgSrc1" class="d-block mx-auto w-50 img-thumbnail" style="height: 80px; width: 50px;" />

            <input type="file" name="foto1" class="d-block mt-1 btn col-6 mx-auto" />
        </div>
     </div>
    <hr />

    @* 2 *@
    <div class="row mt-4 ml-2 justify-content-center">
        <div class="w-50 h-50">
            @{
                var base2 = Convert.ToBase64String(lista.ElementAt(1).Foto);
                var imgSrc2 = string.Format("data:image/gif;base64,{0}", base2);
            }
            <img src="@imgSrc2" class="d-block mx-auto w-50 img-thumbnail" style="height: 80px; width: 50px;" />

            <input type="file" name="foto2" class="d-block mt-1 btn col-6 mx-auto" />
        </div>
    </div>
    <hr />
    @* 3 *@
    <div class="row mt-4 ml-2 justify-content-center">
        <div class="w-50 h-50">
            @{
                var base3 = Convert.ToBase64String(lista.ElementAt(2).Foto);
                var imgSrc3 = string.Format("data:image/gif;base64,{0}", base3);
            }
            <img src="@imgSrc3" class="d-block mx-auto w-50 img-thumbnail" style="height: 80px; width: 50px; " />

            <input type="file" name="foto3" class="d-block mt-1 btn col-6 mx-auto" />
        </div>

    </div>

    </div>
  
    <button type="submit" asp-controller="CambiarSlider" asp-action="Cambiar" class="rounded-circle float-right mt-1" style=" background-color: #FD5924; border:none; margin: auto; color: #fff; font-size: 30px; width: 55px; height: 55px; ">
        <ion-icon class="d-inline-block icono text-white" name="save-sharp"></ion-icon>

    </button>

</form>