@{     
    List<Slider> lista = ViewBag.Foto;
    var z = lista.ElementAt(0);
    var h = lista.ElementAt(0).Foto;   
}

<form method="post" enctype="multipart/form-data" class="container">
    <h2 class="text-center text-orange mt-1">Establecer foto como slider principal</h2>
    @* 1 *@
    <div class="row mt-4 ml-2">
        <div class="w-50 h-50 ">
            @{
                var base1 = Convert.ToBase64String(lista.ElementAt(0).Foto);
                var imgSrc1 = string.Format("data:image/gif;base64,{0}", base1);
            }
            <img src="@imgSrc1" class="d-block mx-auto w-50 img-thumbnail" style="height: 80px; width: 50px;" />

            <input type="file" name="foto1" class="d-block mt-1 btn col-6 mx-auto" />
        </div>
       <!-- <div class="mt-3 w-50 h-50">
            <input class="p-2  form-control" placeholder="En caso de tener url introduzca aqui" type="text" style="width:75%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);" />
        </div> -->
    </div>
    <hr />

    @* 2 *@
    <div class="row mt-4 ml-2">
        <div class="w-50 h-50 ">
            @{
                var base2 = Convert.ToBase64String(lista.ElementAt(1).Foto);
                var imgSrc2 = string.Format("data:image/gif;base64,{0}", base2);
            }
            <img src="@imgSrc2" class="d-block mx-auto w-50 img-thumbnail" style="height: 80px; width: 50px;" />

            <input type="file" name="foto2" class="d-block mt-1 btn col-6 mx-auto" />
        </div>
       <!-- <div class="mt-3 w-50 h-50">
            <input class="p-2  form-control" placeholder="En caso de tener url introduzca aqui" type="text" style="width:75%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);" />
        </div> -->
    </div>
    <hr />
    @* 3 *@
    <div class="row mt-4 ml-2">
        <div class="w-50 h-50 ">
            @{
                var base3 = Convert.ToBase64String(lista.ElementAt(2).Foto);
                var imgSrc3 = string.Format("data:image/gif;base64,{0}", base3);
            }
            <img src="@imgSrc3" class="d-block mx-auto w-50 img-thumbnail" style="height: 80px; width: 50px; " />

            <input type="file" name="foto3" class="d-block mt-1 btn col-6 mx-auto" />
        </div>
       <!-- <div class="mt-3 w-50 h-50">
            <input class="p-2  form-control" placeholder="En caso de tener url introduzca aqui" type="text" style="width:75%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);" />
        </div> -->

    </div>
    <button type="submit" asp-controller="CambiarSlider" asp-action="Cambiar" class="rounded-circle float-right mt-1" style=" background-color: #FD5924; border:none; margin: auto; color: #fff; font-size: 30px; width: 55px; height: 55px; ">
        <ion-icon class="d-inline-block icono text-white" name="folder-outline"></ion-icon>
    </button>

</form>