
    <div>
        <h3 class="text-center" style="color: #FF561F;">DETALLES DEL CLIENTE Y SU CUMPLEAÑOS</h3>

        <div class="border border-danger rounded mx-auto mt-5 text-center p-4 registro" style="height: 58%;">

            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                <span style="display:block; color: #FF561F; font-size:19px"><strong>Nombre</strong></span>
                <span style=" margin: auto;">Lens Lisbeth</span>

            </div>
            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                <span style="display:block; color: #FF561F; font-size:19px"><strong>Apellido</strong></span>
                <span style=" margin: auto;">Almonte Alcantara</span>
            </div>
            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                <span style="display:block; color: #FF561F; font-size:19px"><strong>Fecha de Nacimiento</strong></span>
                <span style=" margin: auto;">29/09/2000</span>
            </div>
            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                <span style="display:block; color: #FF561F; font-size:19px"><strong>Correo / Email</strong></span>
                <span style=" margin: auto;">LensAlmonte10*gmail.com</span>
            </div>
        </div>

    </div>