@model Proyecto_final_pro_3.Models.Usuario
    <div>
        <h3 class="text-center mt-4" style="color: #FF561F;">DETALLES DEL CLIENTE Y SU CUMPLEAÑOS</h3>

        <div class="rounded mx-auto mt-4 text-center p-4 registro" style="height: 58%; border: 1px solid #fb8a65 ;">

            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                <span style="display:block; color: #FF561F; font-size:18px"><strong>Nombre</strong></span>
                <input asp-for="Nombre" id="nombre" class="form-control text-center" type="text" name="nombre" value="@Model.Nombre" style="background-color: rgb(246, 246, 246); border: none; border-radius: 50px; width: 50%; color: #323232; margin-left: 25%;" disabled>
            </div>
            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                <span style="display:block; color: #FF561F; font-size:18px"><strong>Apellido</strong></span>
                <input asp-for="Apellido" id="apellido" class="form-control text-center" type="text" name="apellido" value="@Model.Apellido" style="background-color: rgb(246, 246, 246); border: none; border-radius: 50px; width: 50%; color: #323232; margin-left: 25%;" disabled>
            </div>
            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                <span style="display:block; color: #FF561F; font-size:18px"><strong>Fecha de Nacimiento</strong></span>
                <input asp-for="FechaNacimiento" id="fechanacimiento" class="form-control text-center" type="text" name="fechanacimiento" value="@Model.FechaNacimiento" style="background-color: rgb(246, 246, 246); border: none; border-radius: 50px; width: 50%; color: #323232; margin-left: 25%;" disabled>
            </div>
            <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75 text-center">
                <span style="display:block; color: #FF561F; font-size:18px"><strong>Correo / Email</strong></span>
                <input asp-for="Correo" id="correo" class="form-control text-center" type="text" name="correo" value="@Model.Correo" style="background-color: rgb(246, 246, 246); border: none; border-radius: 50px; width: 75%; color: #323232; margin-left: 15%;" disabled>
            </div>
        </div>

    </div>