<div>
    <h2 class="text-center mt-4" style="color: #FD5924;">lISTADO DE CUMPLEAÑOS POR MES</h2>

    <div>
        <div class="d-inline-block mr-0 mt-4">
            <a class="text-center padre btn" style="background-color: #FD5924; height:35px; width:100px;">
                <p class="m-0 d-inline-block text-white">Mes</p>
                <ion-icon class="ml-2 d-inline-block icono text-white" name="caret-down"></ion-icon>
            </a>
        </div>       
        <div class="d-inline-block">
            <select name="mes" class="select text-center">
                <option>1-Enero</option>
                <option>2-Febreo</option>
                <option>3-Marzo</option>
                <option>4-Abril</option>
                <option>5-Mayo</option>
            </select>
        </div>
    </div>
</div>