<div class="container-fluid">
    <div class="row" style="margin-top: 5%;">

        <div class="d-inline-block " style="margin-left: 18%;">

            <img src="~/imagen/Arroz1.png" style="width:200px; height:200px;">
        </div>


        <div class="d-inline-block " style="margin-left: 4%;">


            <h2>Saco de arroz el campo 25/lb</h2>
            </br>

            <p>
                Arroz el campo, de los mejores </br>
                en el mercado. Arroz fresco.
            </p>
            </br>
            <p><strong>RD$250.00</strong></p>

            <button class="btn border-0  mt-4 mb-5 p-2  w-20" style="background: #FD5924; color: #fff;">Comprar ahora</button>
            <button class="btn border-0  mt-4 mb-5 p-2  w-20" style="background: #85E30C; color: #fff; margin-left: 7%;">Anadir Carrito</button>




        </div>



    </div>

</div>