@model Proyecto_final_pro_3.Models.UserLogin

@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = "~/Views/Shared/_Layout_top_menu_bar.cshtml" ;
}


<div class="container-fluid text-center">
        <div class="py-4">
            <form asp-controller="Cuenta" asp-action="Login" class="d-flex justify-content-center flex-column login">
                <h2 class="my-4 text-center">INICIAR SESIÓN </h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mx-auto">
                    <input asp-for="Correo" placeholder="Correo Electronico" class="form-control rounded-lg  text-center">
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group mx-auto">
                    <input asp-for="Password" type="password" placeholder="Contraseña" class="form-control rounded-lg text-center">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!--<a href="#">¿Olvide la contraseña?</a><br />-->
                <input class="my-2 border-0 py-2 px-3 text-white mx-auto" type="submit" value="Entrar a Mi Cuenta" style="background:#FD5924; width: 300px;">
            </form>
            <br />
            <span>No tengo mi cuenta todavia,</span>
            <a asp-action="Registrarse">Registrarme.</a>
        </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
