
@{
    Layout = "~/Views/Shared/_Layout_top_menu_bar.cshtml";
}

    <div class="mx-auto mt-5 text-center p-4 registro shadow-sm">
        <h2>Registrarse</h2>
        <div class="col-12 col-sm-9 mx-auto mt-5 mb-4">
            <input type="text" placeholder="Nombre" class="form-control input-round">
        </div>
        <div class="col-12 col-sm-9 mx-auto mt-4 mb-4">
            <input type="text" placeholder="Apellido" class="form-control input-round">
        </div>
        <div class="col-12 col-sm-9 mx-auto mt-4 mb-4">
            <input type="text" placeholder="Fecha de nacimiento" class="form-control input-round">
        </div>
        <div class="col-12 col-sm-9 mx-auto mt-4 mb-4">
            <input type="text" placeholder="Correo electronico" class="form-control input-round">
        </div>
        <div class="col-12 col-sm-9 mx-auto mt-4 mb-4">
            <input type="text" placeholder="Contraseña" class="form-control input-round">
        </div>
        <div class="col-12 col-sm-9 mx-auto mt-4 mb-4">
            <input type="text" placeholder="Repita contraseña" class="form-control input-round">
        </div>
        <div class="col-12 col-sm-4 mx-auto mt-5">
            <input type="submit" value="Registrarse" class="btn btn-block input-round text-white" style="background-color: #FD5924;">
        </div>
    </div>