<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tienda_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="overflow:hidden;">

    <div class="d-sm-flex">
        <div class="sidemenu sidemenu-pc">
            <div class="col-12 mx-auto mt-2 mb-4 text-center">
                <a class="text-decoration-none link" asp-controller="Home" asp-action="Index">
                    <span class="font-weight-bold text-dark">AMERA</span>
                    <span class="text-white"> Xpress</span>
                    <span class="font-weight-bold text-dark"> .com</span>
                </a>
            </div>
            <a asp-controller="PerfilAdmin" asp-action="Cuenta" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="person"></ion-icon>
                <p class="m-0 d-inline-block text-size">Perfil</p>
            </a>
            <a asp-controller="GestionProductos" asp-action="Index" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="cart"></ion-icon>
                <p class="m-0 d-inline-block text-size">Productos</p>
            </a>
            <a asp-controller="ListaCategorias" asp-action="Index" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="layers"></ion-icon>
                <p class="m-0 d-inline-block text-size">Categorias</p>
            </a>
            <a href="#" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="albums"></ion-icon>
                <p class="m-0 d-inline-block text-size">Pedidos</p>
            </a>
            <a asp-controller="UsuariosAdmin" asp-action="Index" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="people"></ion-icon>
                <p class="m-0 d-inline-block text-size">Usuarios</p>
            </a>
            <a asp-controller="GestionReportes" asp-action="Index" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="bar-chart"></ion-icon>
                <p class="m-0 d-inline-block text-size">Reportes</p>
            </a>
            <a asp-controller="Utilidades" asp-action="Index" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="build"></ion-icon>
                <p class="m-0 d-inline-block text-size">Utilidades</p>
            </a>
            <a asp-controller="CambiarSlider" asp-action="Index" class="col-10 text-center sidemenu-option pl-4 btn">
                <ion-icon class="mr-2 d-inline-block icono" name="settings"></ion-icon>
                <p class="m-0 d-inline-block text-size">Ajustes</p>
            </a>


            <!--  <a href="#" class="col-10 mt-5 text-center  pl-4 btn text-white"> -->
            <a asp-controller="Cuenta" asp-action="LoggedOut" class="col-10 text-center sidemenu-option pl-4 btn ajuste">
                <ion-icon class="mr-2 d-inline-block icono" name="power"></ion-icon>               
                <p class="m-0 d-inline-block text-size">Cerrar sesión</p>
            </a>
        </div>

        <div class="w-100 sidemenu-celular">
            <nav class="navbar navbar-expand-lg navbar-light bg-orange">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <span class="font-weight-bold">AMERA </span>
                    <span class="text-warning"> Xpres</span>
                    <span class="font-weight-bold">.com</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-controller="PerfilAdmin" asp-action="Cuenta" class="nav-link text-white"><ion-icon class="mr-2 d-inline-block" name="person"></ion-icon>Perfil</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="#"><ion-icon class="mr-2 d-inline-block" name="cart"></ion-icon>Productos</a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="ListaCategorias" asp-action="Index" class="nav-link text-white"><ion-icon class="mr-2 d-inline-block" name="cart"></ion-icon>Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><ion-icon class="mr-2 d-inline-block" name="albums"></ion-icon>Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="UsuariosAdmin" asp-action="Index" class="nav-link text-white"><ion-icon class="mr-2 d-inline-block" name="people"></ion-icon>Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="GestionReportes" asp-action="Index" class="nav-link text-white"><ion-icon class="mr-2 d-inline-block" name="bar-chart"></ion-icon>Reportes</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Utilidades" asp-action="Index" class="nav-link text-white"><ion-icon class="mr-2 d-inline-block" name="build"></ion-icon>Utilidades</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CambiarSlider" asp-action="Index" class="nav-link text-white"><ion-icon class="mr-2 d-inline-block" name="settings"></ion-icon>Ajustes</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Cuenta" asp-action="LoggedOut" class="nav-link text-white"><ion-icon class="mr-2 d-inline-block" name="power"></ion-icon>Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container-fluid" >
            <main role="main" class="pb-1">
                @RenderBody()
            </main>
        </div>
    </div>

    <!--ionicons Js-->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>




