<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tienda_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="shadow-sm">
            <div class="container-fluid py-3" >
                  <div class="d-flex flex-row">
                      <div class="mr-auto">
                          <img src="~/imagen/logo.png" width="110" alt="Logo" />
                      </div>
                        <div> 
                              <a class="text-white border-0 mt-4  py-2 px-4" style="background:#FD5924; border-radius: 50px;" asp-controller="Home" asp-action="Index">Ir al mercado</a>
                        </div>
                  </div>
            </div> 
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-1">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
 












