<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_final_pro_3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--owl responsive carrusel-->
    <link rel="stylesheet" href="~/carrusel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/carrusel/owl.theme.default.min.css">

    <!--JQuery js-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body class="m-0">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <span class="font-weight-bold">AMERA</span>
                <span class="text-warning"> Xpres</span>
                <span class="font-weight-bold"> .com</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-grow-1 row align-conten-center">
                    <li class="nav-item col-lg-6 col-12 offset-lg-1 rounded border d-flex py-2 py-md-0 padre">
                        <ion-icon name="search-outline" class="icono"></ion-icon>
                        <input type="text" placeholder="¿Que articulo desea buscar?" class="fi w-100 ml-2 border-0 rounded-0 bg-light">
                        <span class="glyphicon glyphicon-plus"></span>
                    </li>
                    <li class="nav-item col-lg-2 offset-lg-1 p-0 py-md-0 padre pl-3 pl-lg-0">

                        <a class="link-ir text-decoration-none" asp-controller="Cuenta" asp-action="Login">Login</a>
                        <samp class="link-ir">|</samp>
                        <a class="link-ir text-decoration-none" asp-controller="Cuenta" asp-action="Nueva_cuenta">Registrarse</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-0 box-shadow" style="background: #FD5924;">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav flex-grow-1 row">
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-white pl-2" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-white pl-2" href="#">Producto</a>
                        </li>
                        <li class="nav-item ml-sm-auto padre">
                            <a class="nav-link text-white pl-2" data-toggle="collapse" href="#collapseCategoria" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Categoria
                            </a>
                            <ion-icon class="text-white" name="caret-down"></ion-icon>
                        </li>
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-white pl-2" href="#">Contactanos</a>
                        </li>
                        <li class="nav-item ml-sm-auto padre">
                            <ion-icon name="gift-outline" class="icono text-white"></ion-icon>
                            <a class="nav-link text-white pl-2" href="#">Ofertas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="collapse " id="collapseCategoria" style="background: #FF6F41;">
            <div class="border-0 text-muted container py-3">
                <section class="row">
                    <div class="col-6 col-sm-3">
                        <ul class="link link-white link-p-2">
                            <li><a asp-route-id="19" asp-controller="Home" asp-action="Categorias">Vegetales</a></li>
                            <li><a asp-route-id="11" asp-controller="Home" asp-action="Categorias">Fruta</a></li>
                            <li><a href="#">Bebidas</a></li>
                            <li><a href="#">Alcohol</a></li>
                            <li><a asp-route-id="14" asp-controller="Home" asp-action="Categorias">Abarrotes</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <ul class="link link-white link-p-2">
                            <li><a asp-route-id="15" asp-controller="Home" asp-action="Categorias">Carnes</a></li>
                            <li><a href="#">Pescados</a></li>
                            <li><a href="#">Mariscos</a></li>
                            <li><a asp-route-id="18" asp-controller="Home" asp-action="Categorias">Reposteria</a></li>
                            <li><a asp-route-id="1" asp-controller="Home" asp-action="Categorias">Panaderia</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <ul class="link link-white link-p-2">
                            <li><a asp-route-id="2" asp-controller="Home" asp-action="Categorias">Graneria</a></li>
                            <li><a asp-route-id="3" asp-controller="Home" asp-action="Categorias">Dulces</a></li>
                            <li><a asp-route-id="4" asp-controller="Home" asp-action="Categorias">Lacteos</a></li>
                            <li><a asp-route-id="5" asp-controller="Home" asp-action="Categorias">Deli</a></li>
                            <li><a asp-route-id="6" asp-controller="Home" asp-action="Categorias">Otos</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <ul class="link link-white link-p-2">
                            <li><a asp-route-id="7" asp-controller="Home" asp-action="Categorias">Cuidado personal</a></li>
                            <li><a href="#">Detergente</a></li>
                            <li><a asp-route-id="9" asp-controller="Home" asp-action="Categorias">Desechables</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>

    </header>
    <div class="container-fluid px-0 mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background: #F2F2F2;" class="pt-4">
        <div class="container text-muted">
            <section class="row w-75 pt-4">

                <div class="col-4">
                    <ul class="link">
                        <li class="font-weight-bold">Informacion</li>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contactos</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Categorias</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="link">
                        <li class="font-weight-bold">Cuenta</li>
                        <li><a href="#">Iniciar seccion</a></li>
                        <li><a href="#">Registrarse</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="link link-a">
                        <li class="font-weight-bold">Contactanos</li>
                        <li><a href="#">AMERAXpres office</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <section style="background: #EBEBEB;">
            <div class="container mt-5">
                <div class="row align-items-center" style="height: 80px;">
                    <div class="col-12 col-sm-6">
                        <span class="d-inline-block ml-sm-5">CopyRight</span>
                        <span class="d-inline-block ml-sm-3">2020 AmericaXpress.com</span>
                    </div>
                </div>
            </div>
        </section>
    </footer>


    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Proyecto_final_pro_3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <!--Script Owl Carrusel-->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="~/carrusel/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>

    <!--Ionic icons js-->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
