<div>
    <h2 class="text-center mt-4" style="color: #FD5924;">DETALLE DEL CLIENTE Y SU ORDEN DE COMPRA</h2>

    <div class="col-10 mx-auto border mt-4 p-5" style="height:70vh">
        <div class="row mt-3">
            <div class="col-4 col-lg-3" style="color: #FD5924;"><h5>Nombre:</h5></div>
            <div class="col-8"><h5 class="">Erick Daniel</h5></div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-lg-3" style="color: #FD5924;"><h5>Apellido:</h5></div>
            <div class="col-8"><h5 class="">Tejada Montero</h5></div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-lg-3" style="color: #FD5924;"><h5>Correo:</h5></div>
            <div class="col-8"><h5 class="">ErickDaniel@gmail.com</h5></div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-lg-3" style="color: #FD5924;"><h5>Order:</h5></div>
            <div class="col-8"><h5 class="">Tejada Montero</h5></div>
        </div>
        <div class="col-7 mt-3 pl-0">
            <div class="" style="color: #FD5924;"><h5>Detalle de la compra:</h5></div>
            <div class=""><h5 class="">Tejada Montero</h5></div>
        </div>
    </div>
</div>
