<div class="mx-auto mt-4">
    <h2 class="text-orange text-center mx-auto">Lista Categorias</h2>
</div>
<div class="row mt-4">
    <div style="width:39%">
        <ul class="list-group m-3 p-2">
            <li class="list-group-item text-center text-orange"><strong>Categorias</strong></li>
            <li class="list-group-item list-group-item-action">Vegetales</li>
            <li class="list-group-item list-group-item-action">Frutas</li>
            <li class="list-group-item list-group-item-action">Detergentes</li>
            <li class="list-group-item list-group-item-action">
                Vestibulum at eros
            </li>
            <button class="rounded-circle float-left mt-1" style="background-color: #FD5924; border:none; margin: auto; color: #fff; font-size: 30px; width: 55px; height: 55px; margin-left:85%; ">
                +
            </button>

        </ul>

    </div>


    <div class="mx-auto m-3 w-50">
        <h4 class="text-orange text-center">Agregar Categoria</h4>
        <div class="mt-4 ">
            <input class="form-control text-center" placeholder="Nombre" type="text" style="width:75%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);" />
        </div>

        <div class="mt-4 ">
            <input class="form-control text-center" placeholder="Escriba el nombre otra vez" type="text" style=" width:75%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);" />
        </div>

        <div class="mt-4 text-center">
            <input class="btn" type="submit" value="Guardar" style="width:40%; margin: auto; border: none;  border-radius: 50px; background-color: #FD5924; color:#fff;" />
        </div>

    </div>


</div>