@{ Layout = "~/Views/Shared/_Layout_administrador.cshtml"; }
@model Categoria

<div class="mx-auto mt-4">
    <h2 class="text-orange text-center mx-auto">CATEGORIAS</h2>
</div>
<div class="col-9 col-lg-6 mt-4 d-flex py-2 py-md-0 padre mx-auto bg-light pr-0">

    <ion-icon name="search-outline" class="ml-5 icono"></ion-icon>
    <input type="text" placeholder="Nombre de la categoria" class="fi w-100 ml-2 border-0 rounded-0 bg-light">
    <input type="submit" asp-controller="ListaCategorias" asp-action="Index" value="Buscar" class="btn bg-orange text-white" />
</div>
<div class="row mt-4">
    <div style="width:39%">
        <div style="overflow:auto; width:210px; height:400px;">
            <table class="table table-bordered m-4 p-2 w-auto">

                <thead>
                    <tr>
                        <td class="list-group-item  text-orange"><strong>Categorias</strong></td>


                    </tr>


                </thead>
                <tbody>

                    @foreach (Categoria categoria in ViewBag.Categoria)
                    {
                        <tr>
                            <td>@categoria.Nombre</td>
                        </tr>
                    }
                </tbody>




            </table>
        </div>
        <div class="boton box-shadow text-center" data-toggle="collapse" data-target="#collapseAgreCate" aria-expanded="false" aria-controls="collapseAgreCate" style="margin-left: 2%">
            <a asp-action="Create" asp-controller="ListaCategorias" asp-area="Admin" style="color:#fff">+</a>

        </div>
    </div>


   
</div>



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicon"></script>