<div class="border border-danger rounded mx-auto mt-5 text-center p-4 registro" style="height: 58%;">

    <h3 class="text-center" style="color: #FF561F;">Mi Cuenta</h3>



    <div class="col-11 col-sm-11 col-md-11 mx-auto mt-5 mb-4">

        <input name="Nombre" type="text" class="form-control" placeholder="Nombre" style="width: 70%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">

    </div>
    <div class="col-11  mx-auto mt-4 mb-4">
        <input name="Apellido" type="text" class="form-control" placeholder="Apellido" style="width: 70%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-11 mx-auto mt-4 mb-4">
        <input name="Fecha_de_nacimiento" readonly type="text" class="form-control" placeholder="Fecha de nacimiento" style="width: 70%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-11 mx-auto mt-4 mb-4">
        <input name="Correo" type="email" readonly class="form-control" placeholder="Correo" style="width: 70%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-4 col-sm-7 col-md-5 mx-auto mt-5">
        <input type="submit" value="Aceptar" class="btn btn-block input-round text-white" style="background-color: #FD5924;">
    </div>

</div>