
    <div>
        <h2 class="text-center mt-4" style="color: #FD5924;">MIS ÓRDENES</h2>

        <div class="col-10 mt-4 mx-auto">
            <table class="table table-responsive" style="margin-left: 16%">
                <thead class="thead-light">
                    <tr>
                        <th style="color: #FD5924;">Pedido</th>
                        <th style="color: #FD5924;">Compra</th>
                        <th style="color: #FD5924;">Entrega</th>
                        <th style="color: #FD5924;">Estatus</th>
                        <th style="color: #FD5924;">Monto </th>
                        <th style="color: #FD5924;">Opciones</th>
                    </tr>
                </thead>


            </table>

            @*<a asp-route-id="@usuario.IdUsuario" asp-controller="UsuariosAdmin" asp-action="Details" asp-area="Admin" class="col-10 text-center padre pl-4 btn" style="background-color: #FD5924; height:30px; width:150px;">
                <p class="m-0 d-inline-block text-white">Detalles</p>
                <ion-icon class="ml-2 d-inline-block icono text-white" name="eye-outline"></ion-icon>
            </a>*@
        </div>
    </div>