<div class="border border-danger rounded mx-auto mt-5 text-center p-4 registro" style="height: 58%;">
    <h3 class="text-center" style="color: #FF561F;">Contraseña</h3>
    <h6 class="text-center mt-2" >Cambiar contraseña del administrador</h6>

    <div class="col-8 col-sm-11 col-md-11 mx-auto mt-5 mb-4">
        <input id="Nueva_Contrasena" type="password" class="form-control" placeholder="Nueva contraseña" style="width: 70%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4">
        <input id="Confirmar_Contrasena" type="password" class="form-control" placeholder="Confirmar contraseña" style="width: 70%; margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-4 col-sm-7 col-md-5 mx-auto mt-5">
        <input type="submit" value="Cambiar" class="btn btn-block input-round text-white" style="background-color: #FD5924;">
    </div>

 
</div>