
<div class="border border-danger rounded mx-auto mt-5 text-center p-4 registro" style="height: 58%;">

    <h3 class="text-center" style="color: #FF561F;">Nuevo Producto</h3>
    <h6 class="text-center mt-2">Cambiar contraseña del administrador</h6>

    <div class="col-8 col-sm-11 col-md-11 mx-auto mt-5 mb-4 w-75">
        <input id="Url" type="text" class="form-control" placeholder="Url Imagen" style=" margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
        <input id="Nombre" type="text" class="form-control" placeholder="Nombre de producto" style=" margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
        <input id="Descripcion" type="text" class="form-control" placeholder="Descripcion" style=" margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
        <input id="Precio" type="text" class="form-control" placeholder="Precio" style=" margin: auto; border-radius: 50px; border: none; background-color: rgb(255, 114, 68, 0.1);">
    </div>
    <div class="col-8 col-sm-8 col-md-9 mx-auto mt-5">
        <div class="row">

            <div class="col-6 col-sm-6 col-md-6">
                <button class="btn w-100" style="background: #FD5924; color: #fff;">Guardar</button>
            </div>

            <div class="col-6 col-sm-6 col-md-6">
                <button class="btn w-100" style="background: #FD5924; color: #fff;">Cambiar </button>
            </div>

        </div>
    </div>


</div>