/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-outline-oscuro {
    color: black;
    border: 1px solid #7D7D7D;
    border-radius: 5px;
}

.btn-outline-oscuro:hover,
.btn-outline-oscuro:focus {
    background-color: #FD5924;
    color: white;
    border: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.link,
.link li a {
    text-decoration: none;
    list-style: none;
}

.link li:hover{
    font-size: large;
}

link-dark,
.link li a{
    color: #4E4E4E;
}

link-white,
.link-white li a{
    color: white;
}

.link-p-2 li{
    padding-top: 8px;
}

.link-ir {
    list-style: none;
    color: #4E4E4E;
}


.padre {
    display: flex;
    align-items: center;
}

.icono {
    font-size: 24px;
}

.fi:active,
.fi:focus {
    outline: none;
}

/*Registrarse*/
.registro {
    width: 50%;
    height: 600px;
}

.input-round {
    border-radius: 20px;
}

@media (max-width: 600px) {
    .registro {
        width: 90%;
        height: 600px;
    }
}

/**/
.img-center {
    height: 100%;
    display: flex;
    margin: 0 auto;
}

/*SideMedu*/

.bg-orange {
    background-color: #FD5924;
}

.text-orange {
    color: #FD5924;
}
.sidemenu {
    height: 100vh;
    width: 310px;
    background-color: #FD5924;
    position: relative;
}

.sidemenu-option {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
    background-color: #FD5924;
    color: white;
}

.text-size {
    font-size: medium;
}

.sidemenu-option:hover,
.sidemenu-option:focus {
    background-color: white;
    color: #FD5924;
    box-shadow: none;
}

.sidemenu-pc {
    display: block;
}

.sidemenu-celular {
    display: none;
}

.ajuste {
    position: absolute;
    bottom: 70px;
    right: 0;
}

.icono {
    font-size: 24px;
}

@media (max-width: 992px) {
    .sidemenu {
        width: 242px;
    }
}

@media (max-width: 575px) {
    .sidemenu-pc {
        display: none;
    }

    .sidemenu-celular {
        display: block;
    }
}
/**/

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: 0;
    border: 0 !important;
    background-color: #FD5924;
    color: white;
    width: 120px;
    height: 35px;
    border-radius:5px;
    padding-left:5px;
    position:relative;
    cursor:pointer;
}

